body {
    background-color: rgb(171, 30, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: verdana;
  }
  
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  p {
    font-size: 20px;
  }