:root {
	--global-font : 'Outfit', sans-serif;
	--S-font: 'Poppins', sans-serif;
	--global-color : #888282;
	--S-color: #000;
	--global-fontWeight : 200;
	--P-size : 20px;
	--S-size : 15px;
	--Ps-size : 12px;
	--grid-margin : 50px;
	--icon-height : 14px;
	--icon-width : 14px;
	--barre-textSize : 14px;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* repeating 2 fraction rows in the grid */
	grid-template-rows: 100px 1fr 1fr 100px; /* fixing sizes of head and buttum row */
	gap: 10px;

	padding: 10px;
	box-sizing: border-box;
}

.container div {
	padding: 10px;
	border: solid 1px #000;
}

#Logo {
	grid-column-start: 1;
	grid-column-end: 4;
}

#Logo img {
	width: 100px;
	height: 70px;
	padding: 10px 0 0 30px;
}

#Side {
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 50px;
}

.P-txt {
	font-family: var(--global-font);
	color: var(--global-color);
	font-weight: var(--global-fontWeight);
	font-size: var(--P-size);
}

#Path {
	text-align: center;
	display: flex;
}

#Path a {
	position: relative;
	display: table;
}

#Path span {
	position: relative;
}

#Barre-Icon {
	height: var(--icon-height);
	width: var(--icon-width);
	font-weight: 200px;
	margin: 5px;
	display: inline;
  	
}

.Ps-txt {
	font-family: var(--global-font);
	color: var(--global-color);
	font-weight: var(--global-fontWeight);
	font-size: var(--Ps-size);
}

.S-txt {
	font-family: var(--S-font);
	color: var(--S-color);
	font-size: var(--S-size);
}

#Main {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	height: 75vh;
	width: 75vw;
}

#Footer	{
	grid-column-start: 1;
	grid-column-end: span 3;
}
/*
#Path a {
	font-family: var(--global-font);
}

h1 {
	font-family: var(--global-font);
	font-size: 20px;
	font-weight: var(--global-fontWeight);
	color: var(--global-color);
}

#List li::before {
	content: "\f03a";
}

#Barre-Icon {
	height: var(--icon-height);
	width: var(--icon-width);
	font-weight: 200px;
} */